.container--1 {
  /* STARTER */
  font-family: sans-serif;
  background-color: #ddd;
  font-size: 30px;
  margin: 40px;

  /* CSS GRID */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 300px 200px;

  /* gap: 30px; */
  column-gap: 10px;
  row-gap: 40px;
}
